@charset "UTF-8";
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
@import url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
* {
  box-sizing: border-box;
}
*:after {
  box-sizing: border-box;
}
*:before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}
body .menu {
  width: 10%;
  height: 100vh;
  border: 1px solid red;
  position: fixed;
  background: #fff;
  top: 0;
  right: 0;
  z-index: 99;
}
body .menu .hamburger {
  width: 18px;
  height: 16px;
  text-align: center;
  margin: 0 auto;
  position: fixed;
  right: 30px;
  top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
body .menu .hamburger span {
  opacity: 1;
  display: block;
  width: 100%;
  height: 2px;
  background: #101010;
  transform: rotate(0deg);
  transition: 0.4s ease-in-out;
}
body .menu .linemenu {
  position: relative;
  top: 30%;
  right: 30px;
  text-align: right;
}
body .menu .linemenu .line {
  margin: 20px 0;
  cursor: pointer;
}
body .menu .linemenu .line span {
  width: 30px;
  height: 2px;
  background-color: #101010;
  display: inline-block;
}
body .menu .linemenu .line span.on {
  width: 50px;
  transition: all 0.3s;
}
body .iframes {
  height: 100vh;
}
body .iframes .visit {
  width: 95%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
}
body .iframes .visit iframe {
  width: 100%;
  height: 100%;
}
body .iframes .about,
body .iframes .aboutweb,
body .iframes .aboutteam,
body .iframes .aboutreact {
  width: 100%;
  height: 100vh;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
}
body .iframes .about .about-l,
body .iframes .about .web-l,
body .iframes .about .team-l,
body .iframes .about .react-l,
body .iframes .aboutweb .about-l,
body .iframes .aboutweb .web-l,
body .iframes .aboutweb .team-l,
body .iframes .aboutweb .react-l,
body .iframes .aboutteam .about-l,
body .iframes .aboutteam .web-l,
body .iframes .aboutteam .team-l,
body .iframes .aboutteam .react-l,
body .iframes .aboutreact .about-l,
body .iframes .aboutreact .web-l,
body .iframes .aboutreact .team-l,
body .iframes .aboutreact .react-l {
  width: 25%;
  height: 100vh;
  position: fixed;
  top: 0;
}
body .iframes .about .about-l .about-textbox,
body .iframes .about .about-l .webtbx,
body .iframes .about .about-l .teamtbx,
body .iframes .about .about-l .reacttbx,
body .iframes .about .web-l .about-textbox,
body .iframes .about .web-l .webtbx,
body .iframes .about .web-l .teamtbx,
body .iframes .about .web-l .reacttbx,
body .iframes .about .team-l .about-textbox,
body .iframes .about .team-l .webtbx,
body .iframes .about .team-l .teamtbx,
body .iframes .about .team-l .reacttbx,
body .iframes .about .react-l .about-textbox,
body .iframes .about .react-l .webtbx,
body .iframes .about .react-l .teamtbx,
body .iframes .about .react-l .reacttbx,
body .iframes .aboutweb .about-l .about-textbox,
body .iframes .aboutweb .about-l .webtbx,
body .iframes .aboutweb .about-l .teamtbx,
body .iframes .aboutweb .about-l .reacttbx,
body .iframes .aboutweb .web-l .about-textbox,
body .iframes .aboutweb .web-l .webtbx,
body .iframes .aboutweb .web-l .teamtbx,
body .iframes .aboutweb .web-l .reacttbx,
body .iframes .aboutweb .team-l .about-textbox,
body .iframes .aboutweb .team-l .webtbx,
body .iframes .aboutweb .team-l .teamtbx,
body .iframes .aboutweb .team-l .reacttbx,
body .iframes .aboutweb .react-l .about-textbox,
body .iframes .aboutweb .react-l .webtbx,
body .iframes .aboutweb .react-l .teamtbx,
body .iframes .aboutweb .react-l .reacttbx,
body .iframes .aboutteam .about-l .about-textbox,
body .iframes .aboutteam .about-l .webtbx,
body .iframes .aboutteam .about-l .teamtbx,
body .iframes .aboutteam .about-l .reacttbx,
body .iframes .aboutteam .web-l .about-textbox,
body .iframes .aboutteam .web-l .webtbx,
body .iframes .aboutteam .web-l .teamtbx,
body .iframes .aboutteam .web-l .reacttbx,
body .iframes .aboutteam .team-l .about-textbox,
body .iframes .aboutteam .team-l .webtbx,
body .iframes .aboutteam .team-l .teamtbx,
body .iframes .aboutteam .team-l .reacttbx,
body .iframes .aboutteam .react-l .about-textbox,
body .iframes .aboutteam .react-l .webtbx,
body .iframes .aboutteam .react-l .teamtbx,
body .iframes .aboutteam .react-l .reacttbx,
body .iframes .aboutreact .about-l .about-textbox,
body .iframes .aboutreact .about-l .webtbx,
body .iframes .aboutreact .about-l .teamtbx,
body .iframes .aboutreact .about-l .reacttbx,
body .iframes .aboutreact .web-l .about-textbox,
body .iframes .aboutreact .web-l .webtbx,
body .iframes .aboutreact .web-l .teamtbx,
body .iframes .aboutreact .web-l .reacttbx,
body .iframes .aboutreact .team-l .about-textbox,
body .iframes .aboutreact .team-l .webtbx,
body .iframes .aboutreact .team-l .teamtbx,
body .iframes .aboutreact .team-l .reacttbx,
body .iframes .aboutreact .react-l .about-textbox,
body .iframes .aboutreact .react-l .webtbx,
body .iframes .aboutreact .react-l .teamtbx,
body .iframes .aboutreact .react-l .reacttbx {
  position: absolute;
  top: 55%;
  left: 4vw;
  transform: translate(-55%, -50%);
}
body .iframes .about .about-l .about-textbox li,
body .iframes .about .about-l .webtbx li,
body .iframes .about .about-l .teamtbx li,
body .iframes .about .about-l .reacttbx li,
body .iframes .about .web-l .about-textbox li,
body .iframes .about .web-l .webtbx li,
body .iframes .about .web-l .teamtbx li,
body .iframes .about .web-l .reacttbx li,
body .iframes .about .team-l .about-textbox li,
body .iframes .about .team-l .webtbx li,
body .iframes .about .team-l .teamtbx li,
body .iframes .about .team-l .reacttbx li,
body .iframes .about .react-l .about-textbox li,
body .iframes .about .react-l .webtbx li,
body .iframes .about .react-l .teamtbx li,
body .iframes .about .react-l .reacttbx li,
body .iframes .aboutweb .about-l .about-textbox li,
body .iframes .aboutweb .about-l .webtbx li,
body .iframes .aboutweb .about-l .teamtbx li,
body .iframes .aboutweb .about-l .reacttbx li,
body .iframes .aboutweb .web-l .about-textbox li,
body .iframes .aboutweb .web-l .webtbx li,
body .iframes .aboutweb .web-l .teamtbx li,
body .iframes .aboutweb .web-l .reacttbx li,
body .iframes .aboutweb .team-l .about-textbox li,
body .iframes .aboutweb .team-l .webtbx li,
body .iframes .aboutweb .team-l .teamtbx li,
body .iframes .aboutweb .team-l .reacttbx li,
body .iframes .aboutweb .react-l .about-textbox li,
body .iframes .aboutweb .react-l .webtbx li,
body .iframes .aboutweb .react-l .teamtbx li,
body .iframes .aboutweb .react-l .reacttbx li,
body .iframes .aboutteam .about-l .about-textbox li,
body .iframes .aboutteam .about-l .webtbx li,
body .iframes .aboutteam .about-l .teamtbx li,
body .iframes .aboutteam .about-l .reacttbx li,
body .iframes .aboutteam .web-l .about-textbox li,
body .iframes .aboutteam .web-l .webtbx li,
body .iframes .aboutteam .web-l .teamtbx li,
body .iframes .aboutteam .web-l .reacttbx li,
body .iframes .aboutteam .team-l .about-textbox li,
body .iframes .aboutteam .team-l .webtbx li,
body .iframes .aboutteam .team-l .teamtbx li,
body .iframes .aboutteam .team-l .reacttbx li,
body .iframes .aboutteam .react-l .about-textbox li,
body .iframes .aboutteam .react-l .webtbx li,
body .iframes .aboutteam .react-l .teamtbx li,
body .iframes .aboutteam .react-l .reacttbx li,
body .iframes .aboutreact .about-l .about-textbox li,
body .iframes .aboutreact .about-l .webtbx li,
body .iframes .aboutreact .about-l .teamtbx li,
body .iframes .aboutreact .about-l .reacttbx li,
body .iframes .aboutreact .web-l .about-textbox li,
body .iframes .aboutreact .web-l .webtbx li,
body .iframes .aboutreact .web-l .teamtbx li,
body .iframes .aboutreact .web-l .reacttbx li,
body .iframes .aboutreact .team-l .about-textbox li,
body .iframes .aboutreact .team-l .webtbx li,
body .iframes .aboutreact .team-l .teamtbx li,
body .iframes .aboutreact .team-l .reacttbx li,
body .iframes .aboutreact .react-l .about-textbox li,
body .iframes .aboutreact .react-l .webtbx li,
body .iframes .aboutreact .react-l .teamtbx li,
body .iframes .aboutreact .react-l .reacttbx li {
  font-family: "Alfa Slab One";
  font-weight: 100;
  font-size: 5vw;
  letter-spacing: 4px;
  margin-bottom: 6vw;
  width: 5vw;
  height: 5vw;
  border-radius: 100%;
  text-align: left;
  line-height: 8vw;
  transition: all 0.4s ease-in-out;
}
body .iframes .about .about-l .about-textbox li:nth-child(2),
body .iframes .about .about-l .webtbx li:nth-child(2),
body .iframes .about .about-l .teamtbx li:nth-child(2),
body .iframes .about .about-l .reacttbx li:nth-child(2),
body .iframes .about .web-l .about-textbox li:nth-child(2),
body .iframes .about .web-l .webtbx li:nth-child(2),
body .iframes .about .web-l .teamtbx li:nth-child(2),
body .iframes .about .web-l .reacttbx li:nth-child(2),
body .iframes .about .team-l .about-textbox li:nth-child(2),
body .iframes .about .team-l .webtbx li:nth-child(2),
body .iframes .about .team-l .teamtbx li:nth-child(2),
body .iframes .about .team-l .reacttbx li:nth-child(2),
body .iframes .about .react-l .about-textbox li:nth-child(2),
body .iframes .about .react-l .webtbx li:nth-child(2),
body .iframes .about .react-l .teamtbx li:nth-child(2),
body .iframes .about .react-l .reacttbx li:nth-child(2),
body .iframes .aboutweb .about-l .about-textbox li:nth-child(2),
body .iframes .aboutweb .about-l .webtbx li:nth-child(2),
body .iframes .aboutweb .about-l .teamtbx li:nth-child(2),
body .iframes .aboutweb .about-l .reacttbx li:nth-child(2),
body .iframes .aboutweb .web-l .about-textbox li:nth-child(2),
body .iframes .aboutweb .web-l .webtbx li:nth-child(2),
body .iframes .aboutweb .web-l .teamtbx li:nth-child(2),
body .iframes .aboutweb .web-l .reacttbx li:nth-child(2),
body .iframes .aboutweb .team-l .about-textbox li:nth-child(2),
body .iframes .aboutweb .team-l .webtbx li:nth-child(2),
body .iframes .aboutweb .team-l .teamtbx li:nth-child(2),
body .iframes .aboutweb .team-l .reacttbx li:nth-child(2),
body .iframes .aboutweb .react-l .about-textbox li:nth-child(2),
body .iframes .aboutweb .react-l .webtbx li:nth-child(2),
body .iframes .aboutweb .react-l .teamtbx li:nth-child(2),
body .iframes .aboutweb .react-l .reacttbx li:nth-child(2),
body .iframes .aboutteam .about-l .about-textbox li:nth-child(2),
body .iframes .aboutteam .about-l .webtbx li:nth-child(2),
body .iframes .aboutteam .about-l .teamtbx li:nth-child(2),
body .iframes .aboutteam .about-l .reacttbx li:nth-child(2),
body .iframes .aboutteam .web-l .about-textbox li:nth-child(2),
body .iframes .aboutteam .web-l .webtbx li:nth-child(2),
body .iframes .aboutteam .web-l .teamtbx li:nth-child(2),
body .iframes .aboutteam .web-l .reacttbx li:nth-child(2),
body .iframes .aboutteam .team-l .about-textbox li:nth-child(2),
body .iframes .aboutteam .team-l .webtbx li:nth-child(2),
body .iframes .aboutteam .team-l .teamtbx li:nth-child(2),
body .iframes .aboutteam .team-l .reacttbx li:nth-child(2),
body .iframes .aboutteam .react-l .about-textbox li:nth-child(2),
body .iframes .aboutteam .react-l .webtbx li:nth-child(2),
body .iframes .aboutteam .react-l .teamtbx li:nth-child(2),
body .iframes .aboutteam .react-l .reacttbx li:nth-child(2),
body .iframes .aboutreact .about-l .about-textbox li:nth-child(2),
body .iframes .aboutreact .about-l .webtbx li:nth-child(2),
body .iframes .aboutreact .about-l .teamtbx li:nth-child(2),
body .iframes .aboutreact .about-l .reacttbx li:nth-child(2),
body .iframes .aboutreact .web-l .about-textbox li:nth-child(2),
body .iframes .aboutreact .web-l .webtbx li:nth-child(2),
body .iframes .aboutreact .web-l .teamtbx li:nth-child(2),
body .iframes .aboutreact .web-l .reacttbx li:nth-child(2),
body .iframes .aboutreact .team-l .about-textbox li:nth-child(2),
body .iframes .aboutreact .team-l .webtbx li:nth-child(2),
body .iframes .aboutreact .team-l .teamtbx li:nth-child(2),
body .iframes .aboutreact .team-l .reacttbx li:nth-child(2),
body .iframes .aboutreact .react-l .about-textbox li:nth-child(2),
body .iframes .aboutreact .react-l .webtbx li:nth-child(2),
body .iframes .aboutreact .react-l .teamtbx li:nth-child(2),
body .iframes .aboutreact .react-l .reacttbx li:nth-child(2) {
  font-size: 4vw;
}
body .iframes .about .about-l .about-textbox li a,
body .iframes .about .about-l .webtbx li a,
body .iframes .about .about-l .teamtbx li a,
body .iframes .about .about-l .reacttbx li a,
body .iframes .about .web-l .about-textbox li a,
body .iframes .about .web-l .webtbx li a,
body .iframes .about .web-l .teamtbx li a,
body .iframes .about .web-l .reacttbx li a,
body .iframes .about .team-l .about-textbox li a,
body .iframes .about .team-l .webtbx li a,
body .iframes .about .team-l .teamtbx li a,
body .iframes .about .team-l .reacttbx li a,
body .iframes .about .react-l .about-textbox li a,
body .iframes .about .react-l .webtbx li a,
body .iframes .about .react-l .teamtbx li a,
body .iframes .about .react-l .reacttbx li a,
body .iframes .aboutweb .about-l .about-textbox li a,
body .iframes .aboutweb .about-l .webtbx li a,
body .iframes .aboutweb .about-l .teamtbx li a,
body .iframes .aboutweb .about-l .reacttbx li a,
body .iframes .aboutweb .web-l .about-textbox li a,
body .iframes .aboutweb .web-l .webtbx li a,
body .iframes .aboutweb .web-l .teamtbx li a,
body .iframes .aboutweb .web-l .reacttbx li a,
body .iframes .aboutweb .team-l .about-textbox li a,
body .iframes .aboutweb .team-l .webtbx li a,
body .iframes .aboutweb .team-l .teamtbx li a,
body .iframes .aboutweb .team-l .reacttbx li a,
body .iframes .aboutweb .react-l .about-textbox li a,
body .iframes .aboutweb .react-l .webtbx li a,
body .iframes .aboutweb .react-l .teamtbx li a,
body .iframes .aboutweb .react-l .reacttbx li a,
body .iframes .aboutteam .about-l .about-textbox li a,
body .iframes .aboutteam .about-l .webtbx li a,
body .iframes .aboutteam .about-l .teamtbx li a,
body .iframes .aboutteam .about-l .reacttbx li a,
body .iframes .aboutteam .web-l .about-textbox li a,
body .iframes .aboutteam .web-l .webtbx li a,
body .iframes .aboutteam .web-l .teamtbx li a,
body .iframes .aboutteam .web-l .reacttbx li a,
body .iframes .aboutteam .team-l .about-textbox li a,
body .iframes .aboutteam .team-l .webtbx li a,
body .iframes .aboutteam .team-l .teamtbx li a,
body .iframes .aboutteam .team-l .reacttbx li a,
body .iframes .aboutteam .react-l .about-textbox li a,
body .iframes .aboutteam .react-l .webtbx li a,
body .iframes .aboutteam .react-l .teamtbx li a,
body .iframes .aboutteam .react-l .reacttbx li a,
body .iframes .aboutreact .about-l .about-textbox li a,
body .iframes .aboutreact .about-l .webtbx li a,
body .iframes .aboutreact .about-l .teamtbx li a,
body .iframes .aboutreact .about-l .reacttbx li a,
body .iframes .aboutreact .web-l .about-textbox li a,
body .iframes .aboutreact .web-l .webtbx li a,
body .iframes .aboutreact .web-l .teamtbx li a,
body .iframes .aboutreact .web-l .reacttbx li a,
body .iframes .aboutreact .team-l .about-textbox li a,
body .iframes .aboutreact .team-l .webtbx li a,
body .iframes .aboutreact .team-l .teamtbx li a,
body .iframes .aboutreact .team-l .reacttbx li a,
body .iframes .aboutreact .react-l .about-textbox li a,
body .iframes .aboutreact .react-l .webtbx li a,
body .iframes .aboutreact .react-l .teamtbx li a,
body .iframes .aboutreact .react-l .reacttbx li a {
  text-decoration: none;
}
body .iframes .about .about-l .about-textbox li a:hover,
body .iframes .about .about-l .webtbx li a:hover,
body .iframes .about .about-l .teamtbx li a:hover,
body .iframes .about .about-l .reacttbx li a:hover,
body .iframes .about .web-l .about-textbox li a:hover,
body .iframes .about .web-l .webtbx li a:hover,
body .iframes .about .web-l .teamtbx li a:hover,
body .iframes .about .web-l .reacttbx li a:hover,
body .iframes .about .team-l .about-textbox li a:hover,
body .iframes .about .team-l .webtbx li a:hover,
body .iframes .about .team-l .teamtbx li a:hover,
body .iframes .about .team-l .reacttbx li a:hover,
body .iframes .about .react-l .about-textbox li a:hover,
body .iframes .about .react-l .webtbx li a:hover,
body .iframes .about .react-l .teamtbx li a:hover,
body .iframes .about .react-l .reacttbx li a:hover,
body .iframes .aboutweb .about-l .about-textbox li a:hover,
body .iframes .aboutweb .about-l .webtbx li a:hover,
body .iframes .aboutweb .about-l .teamtbx li a:hover,
body .iframes .aboutweb .about-l .reacttbx li a:hover,
body .iframes .aboutweb .web-l .about-textbox li a:hover,
body .iframes .aboutweb .web-l .webtbx li a:hover,
body .iframes .aboutweb .web-l .teamtbx li a:hover,
body .iframes .aboutweb .web-l .reacttbx li a:hover,
body .iframes .aboutweb .team-l .about-textbox li a:hover,
body .iframes .aboutweb .team-l .webtbx li a:hover,
body .iframes .aboutweb .team-l .teamtbx li a:hover,
body .iframes .aboutweb .team-l .reacttbx li a:hover,
body .iframes .aboutweb .react-l .about-textbox li a:hover,
body .iframes .aboutweb .react-l .webtbx li a:hover,
body .iframes .aboutweb .react-l .teamtbx li a:hover,
body .iframes .aboutweb .react-l .reacttbx li a:hover,
body .iframes .aboutteam .about-l .about-textbox li a:hover,
body .iframes .aboutteam .about-l .webtbx li a:hover,
body .iframes .aboutteam .about-l .teamtbx li a:hover,
body .iframes .aboutteam .about-l .reacttbx li a:hover,
body .iframes .aboutteam .web-l .about-textbox li a:hover,
body .iframes .aboutteam .web-l .webtbx li a:hover,
body .iframes .aboutteam .web-l .teamtbx li a:hover,
body .iframes .aboutteam .web-l .reacttbx li a:hover,
body .iframes .aboutteam .team-l .about-textbox li a:hover,
body .iframes .aboutteam .team-l .webtbx li a:hover,
body .iframes .aboutteam .team-l .teamtbx li a:hover,
body .iframes .aboutteam .team-l .reacttbx li a:hover,
body .iframes .aboutteam .react-l .about-textbox li a:hover,
body .iframes .aboutteam .react-l .webtbx li a:hover,
body .iframes .aboutteam .react-l .teamtbx li a:hover,
body .iframes .aboutteam .react-l .reacttbx li a:hover,
body .iframes .aboutreact .about-l .about-textbox li a:hover,
body .iframes .aboutreact .about-l .webtbx li a:hover,
body .iframes .aboutreact .about-l .teamtbx li a:hover,
body .iframes .aboutreact .about-l .reacttbx li a:hover,
body .iframes .aboutreact .web-l .about-textbox li a:hover,
body .iframes .aboutreact .web-l .webtbx li a:hover,
body .iframes .aboutreact .web-l .teamtbx li a:hover,
body .iframes .aboutreact .web-l .reacttbx li a:hover,
body .iframes .aboutreact .team-l .about-textbox li a:hover,
body .iframes .aboutreact .team-l .webtbx li a:hover,
body .iframes .aboutreact .team-l .teamtbx li a:hover,
body .iframes .aboutreact .team-l .reacttbx li a:hover,
body .iframes .aboutreact .react-l .about-textbox li a:hover,
body .iframes .aboutreact .react-l .webtbx li a:hover,
body .iframes .aboutreact .react-l .teamtbx li a:hover,
body .iframes .aboutreact .react-l .reacttbx li a:hover {
  color: transparent;
  -webkit-text-stroke: 2px #101010;
}
body .iframes .about .about-l .about-textbox li:hover,
body .iframes .about .about-l .webtbx li:hover,
body .iframes .about .about-l .teamtbx li:hover,
body .iframes .about .about-l .reacttbx li:hover,
body .iframes .about .web-l .about-textbox li:hover,
body .iframes .about .web-l .webtbx li:hover,
body .iframes .about .web-l .teamtbx li:hover,
body .iframes .about .web-l .reacttbx li:hover,
body .iframes .about .team-l .about-textbox li:hover,
body .iframes .about .team-l .webtbx li:hover,
body .iframes .about .team-l .teamtbx li:hover,
body .iframes .about .team-l .reacttbx li:hover,
body .iframes .about .react-l .about-textbox li:hover,
body .iframes .about .react-l .webtbx li:hover,
body .iframes .about .react-l .teamtbx li:hover,
body .iframes .about .react-l .reacttbx li:hover,
body .iframes .aboutweb .about-l .about-textbox li:hover,
body .iframes .aboutweb .about-l .webtbx li:hover,
body .iframes .aboutweb .about-l .teamtbx li:hover,
body .iframes .aboutweb .about-l .reacttbx li:hover,
body .iframes .aboutweb .web-l .about-textbox li:hover,
body .iframes .aboutweb .web-l .webtbx li:hover,
body .iframes .aboutweb .web-l .teamtbx li:hover,
body .iframes .aboutweb .web-l .reacttbx li:hover,
body .iframes .aboutweb .team-l .about-textbox li:hover,
body .iframes .aboutweb .team-l .webtbx li:hover,
body .iframes .aboutweb .team-l .teamtbx li:hover,
body .iframes .aboutweb .team-l .reacttbx li:hover,
body .iframes .aboutweb .react-l .about-textbox li:hover,
body .iframes .aboutweb .react-l .webtbx li:hover,
body .iframes .aboutweb .react-l .teamtbx li:hover,
body .iframes .aboutweb .react-l .reacttbx li:hover,
body .iframes .aboutteam .about-l .about-textbox li:hover,
body .iframes .aboutteam .about-l .webtbx li:hover,
body .iframes .aboutteam .about-l .teamtbx li:hover,
body .iframes .aboutteam .about-l .reacttbx li:hover,
body .iframes .aboutteam .web-l .about-textbox li:hover,
body .iframes .aboutteam .web-l .webtbx li:hover,
body .iframes .aboutteam .web-l .teamtbx li:hover,
body .iframes .aboutteam .web-l .reacttbx li:hover,
body .iframes .aboutteam .team-l .about-textbox li:hover,
body .iframes .aboutteam .team-l .webtbx li:hover,
body .iframes .aboutteam .team-l .teamtbx li:hover,
body .iframes .aboutteam .team-l .reacttbx li:hover,
body .iframes .aboutteam .react-l .about-textbox li:hover,
body .iframes .aboutteam .react-l .webtbx li:hover,
body .iframes .aboutteam .react-l .teamtbx li:hover,
body .iframes .aboutteam .react-l .reacttbx li:hover,
body .iframes .aboutreact .about-l .about-textbox li:hover,
body .iframes .aboutreact .about-l .webtbx li:hover,
body .iframes .aboutreact .about-l .teamtbx li:hover,
body .iframes .aboutreact .about-l .reacttbx li:hover,
body .iframes .aboutreact .web-l .about-textbox li:hover,
body .iframes .aboutreact .web-l .webtbx li:hover,
body .iframes .aboutreact .web-l .teamtbx li:hover,
body .iframes .aboutreact .web-l .reacttbx li:hover,
body .iframes .aboutreact .team-l .about-textbox li:hover,
body .iframes .aboutreact .team-l .webtbx li:hover,
body .iframes .aboutreact .team-l .teamtbx li:hover,
body .iframes .aboutreact .team-l .reacttbx li:hover,
body .iframes .aboutreact .react-l .about-textbox li:hover,
body .iframes .aboutreact .react-l .webtbx li:hover,
body .iframes .aboutreact .react-l .teamtbx li:hover,
body .iframes .aboutreact .react-l .reacttbx li:hover {
  transform: scale(1.2);
}
body .iframes .about .about-textbox li,
body .iframes .aboutweb .about-textbox li,
body .iframes .aboutteam .about-textbox li,
body .iframes .aboutreact .about-textbox li {
  background: #eb3a12;
}
body .iframes .about .about-textbox li a,
body .iframes .aboutweb .about-textbox li a,
body .iframes .aboutteam .about-textbox li a,
body .iframes .aboutreact .about-textbox li a {
  color: #101010;
}
body .iframes .about .webtbx li,
body .iframes .aboutweb .webtbx li,
body .iframes .aboutteam .webtbx li,
body .iframes .aboutreact .webtbx li {
  background: #ef1616;
}
body .iframes .about .webtbx li a,
body .iframes .aboutweb .webtbx li a,
body .iframes .aboutteam .webtbx li a,
body .iframes .aboutreact .webtbx li a {
  color: #101010;
}
body .iframes .about .teamtbx li,
body .iframes .aboutweb .teamtbx li,
body .iframes .aboutteam .teamtbx li,
body .iframes .aboutreact .teamtbx li {
  background: #FFC909;
}
body .iframes .about .teamtbx li a,
body .iframes .aboutweb .teamtbx li a,
body .iframes .aboutteam .teamtbx li a,
body .iframes .aboutreact .teamtbx li a {
  color: #1C2F69;
}
body .iframes .about .react-l li,
body .iframes .aboutweb .react-l li,
body .iframes .aboutteam .react-l li,
body .iframes .aboutreact .react-l li {
  background: #4a7381;
}
body .iframes .about .react-l li a,
body .iframes .aboutweb .react-l li a,
body .iframes .aboutteam .react-l li a,
body .iframes .aboutreact .react-l li a {
  color: #2b2b2b;
}
body .iframes .about .about-r,
body .iframes .about .web-r,
body .iframes .about .team-r,
body .iframes .about .react-r,
body .iframes .aboutweb .about-r,
body .iframes .aboutweb .web-r,
body .iframes .aboutweb .team-r,
body .iframes .aboutweb .react-r,
body .iframes .aboutteam .about-r,
body .iframes .aboutteam .web-r,
body .iframes .aboutteam .team-r,
body .iframes .aboutteam .react-r,
body .iframes .aboutreact .about-r,
body .iframes .aboutreact .web-r,
body .iframes .aboutreact .team-r,
body .iframes .aboutreact .react-r {
  width: 75%;
  position: absolute;
  top: 0;
  right: 0;
}
body .iframes .about .about-r img,
body .iframes .about .web-r img,
body .iframes .about .team-r img,
body .iframes .about .react-r img,
body .iframes .aboutweb .about-r img,
body .iframes .aboutweb .web-r img,
body .iframes .aboutweb .team-r img,
body .iframes .aboutweb .react-r img,
body .iframes .aboutteam .about-r img,
body .iframes .aboutteam .web-r img,
body .iframes .aboutteam .team-r img,
body .iframes .aboutteam .react-r img,
body .iframes .aboutreact .about-r img,
body .iframes .aboutreact .web-r img,
body .iframes .aboutreact .team-r img,
body .iframes .aboutreact .react-r img {
  width: 100%;
  vertical-align: bottom;
}
body .iframes .visitback {
  display: none;
  width: 25%;
  height: 3vw;
  position: fixed;
  top: 1vw;
  left: 0;
  cursor: pointer;
  text-align: left;
  font-family: "Alfa Slab One";
}
body .iframes .visitback .backbox {
  text-align: left;
  padding-left: 1vw;
  font-size: 2vw;
  color: transparent;
  -webkit-text-stroke: 1px #333;
}
body .iframes .visitback .backbox:hover {
  -webkit-text-stroke: 0;
  color: #333;
}
body .swiper-container {
  width: 95%;
  height: 100%;
  min-width: 1000px;
  position: fixed !important;
  top: 0;
  right: 0;
  bottom: 0;
  transition: all ease-in-out 0.5s;
}
body .swiper-container.on {
  top: -1000px;
  right: 0;
}
body .swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
  text-align: center;
  display: flex;
  /* 내용을 중앙정렬 하기위해 flex 사용 */
  align-items: center;
  /* 위아래 기준 중앙정렬 */
  justify-content: center;
  /* 좌우 기준 중앙정렬 */
  border-radius: 5px;
  box-sizing: border-box !important;
  /* 이 설정을 하지 않으면 슬라이드시 큐브가 틀어짐 */
}
body .swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
}
body .swiper-container .swiper-wrapper .swiper-slide .grid {
  display: grid;
  grid-column: 1fr 1fr;
  grid-row: repeat(autofit 1fr, 6);
  text-align: left;
  width: 50%;
  height: 80vh;
  z-index: 1;
  margin: 1.5vw 3vw;
  position: absolute;
  left: 0;
  top: 0;
  font-family: "Alfa Slab One";
}
body .swiper-container .swiper-wrapper .swiper-slide .grid ul {
  width: 100%;
  font-weight: 200;
}
body .swiper-container .swiper-wrapper .swiper-slide .grid ul:nth-child(1) {
  font-size: 0.85vw;
  font-family: "NanumSquare";
  font-weight: 400;
}
body .swiper-container .swiper-wrapper .swiper-slide .grid ul:nth-child(2) {
  font-size: 11vw;
  margin-bottom: -1vw;
}
body .swiper-container .swiper-wrapper .swiper-slide .grid ul:nth-child(3) {
  padding-bottom: 2vw;
  cursor: pointer;
}
body .swiper-container .swiper-wrapper .swiper-slide .grid ul:nth-child(3) a {
  display: inline-block;
  margin: -1vw 0;
  padding: 0;
  width: 50%;
  border: none;
  font-weight: 100;
  font-size: 8rem;
  letter-spacing: 0.2vw;
  text-align: left;
  text-decoration: none;
}
body .swiper-container .swiper-wrapper .swiper-slide .grid ul:nth-child(4) {
  font-size: 0.9vw;
  padding-bottom: 20px;
  width: 40%;
  font-family: "NanumSquare";
  font-weight: 400;
  text-align: justify;
  color: #333;
}
body .swiper-container .swiper-wrapper .swiper-slide .grid ul:nth-child(4) span {
  font-weight: 700;
  display: inline-block;
  margin: 5px 0;
  font-size: 1vw;
  color: #333;
}
body .swiper-container .swiper-wrapper .swiper-slide .grid ul:nth-child(5) {
  font-size: 0.75rem;
  font-family: "NanumSquare";
  font-weight: 500;
  color: #333;
}
body .swiper-container .swiper-wrapper .swiper-slide .grid ul:nth-child(5) span {
  display: inline-block;
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 0.85vw;
  color: #333;
}
body .swiper-container .swiper-wrapper .myintro {
  cursor: default;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
body .swiper-container .swiper-wrapper .ect {
  cursor: default;
  justify-content: center;
  align-items: center;
}
body .swiper-container .swiper-wrapper .ect .gridbox {
  width: 90%;
  position: relative;
}
body .swiper-container .swiper-wrapper .ect .gridbox .maingrid {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 20% repeat(2, 38%);
  grid-gap: 3px;
  z-index: 100;
}
body .swiper-container .swiper-wrapper .ect .gridbox .maingrid ul {
  cursor: default;
  width: 100%;
}
body .swiper-container .swiper-wrapper .ect .gridbox .maingrid ul a {
  text-decoration: none;
  color: #101010;
}
body .swiper-container .swiper-wrapper .ect .gridbox .maingrid ul a:hover {
  color: #ef1616;
}
body .swiper-container .swiper-wrapper .ect .gridbox .maingrid ul:nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/3;
}
body .swiper-container .swiper-wrapper .ect .gridbox .maingrid ul .me-circle {
  border-radius: 100%;
  width: 17vw;
  height: 17vw;
  background: -webkit-radial-gradient(center 50px, circle farthest-corner, #4a34ef, #2b17c6 43%, #3501ba 45%, #4e4ebf 100%);
  margin: 0 auto;
  position: relative;
}
body .swiper-container .swiper-wrapper .ect .gridbox .maingrid ul .me-circle span {
  display: inline-block;
  width: 6vw;
  height: 6vw;
  border-radius: 100%;
  margin: 0 auto;
  background: rgb(255, 255, 255);
  text-align: center;
  line-height: 6vw;
  font-weight: 100;
  font-family: "Alfa Slab One";
  font-size: 4vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .swiper-container .swiper-wrapper .ect .gridbox .maingrid .intro {
  grid-column: 1/4;
  grid-row: 1/2;
  width: 100%;
  height: 14vh;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  transform: translateY(1.1vw);
  width: 100%;
  border-radius: 0;
  background: none;
}
body .swiper-container .swiper-wrapper .ect .gridbox .maingrid .intro p {
  width: 80%;
  display: inline-block;
  font-size: 6vw;
  text-align: left;
  font-family: "Alfa Slab One";
  color: transparent;
  -webkit-text-stroke: 2px #101010;
  transform: translateY(2vw);
}
body .swiper-container .swiper-wrapper .ect .gridbox .maingrid .intro .con {
  cursor: pointer;
  font-family: "Alfa Slab One";
  font-size: 2vw;
  display: inline-block;
  align-items: flex-end;
  transition: all 0.4s ease-in-out;
  color: #101010;
}
body .swiper-container .swiper-wrapper .ect .gridbox .maingrid .intro .con:hover {
  font-size: 3vw;
  cursor: pointer;
  -webkit-text-stroke: 0;
  color: rgb(31, 10, 173);
}
body .swiper-container .swiper-wrapper .mobile {
  position: relative;
  cursor: default;
}
body .swiper-container .swiper-wrapper .mobile .back {
  width: 40%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../img/onulhoimockup.jpg) no-repeat center center;
  background-size: cover;
}
body .swiper-container .swiper-wrapper .mobile ul:nth-child(2) {
  color: #eb3a12;
}
body .swiper-container .swiper-wrapper .mobile ul:nth-child(3) {
  padding-bottom: 10vw;
}
body .swiper-container .swiper-wrapper .mobile ul:nth-child(3) a {
  color: transparent;
  -webkit-text-stroke: 2px #e61f1f;
}
body .swiper-container .swiper-wrapper .mobile ul:nth-child(3) a:hover {
  -webkit-text-stroke: 0;
  color: #eb3a12;
}
body .swiper-container .swiper-wrapper .responsive {
  position: relative;
}
body .swiper-container .swiper-wrapper .responsive .back {
  width: 40%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../img/geneva.jpg) no-repeat center center;
  background-size: cover;
}
body .swiper-container .swiper-wrapper .responsive ul:nth-child(3) {
  color: #101010;
}
body .swiper-container .swiper-wrapper .responsive ul:nth-child(3) a {
  color: transparent;
  -webkit-text-stroke: 2px #101010;
}
body .swiper-container .swiper-wrapper .responsive ul:nth-child(3) a:hover {
  -webkit-text-stroke: 0;
  color: #e61f1f;
}
body .swiper-container .swiper-wrapper .me {
  position: relative;
}
body .swiper-container .swiper-wrapper .me .me-middle {
  width: 80%;
  height: 50%;
  margin: 0 auto;
  text-align: left;
  font-family: "pretendard";
  position: absolute;
  top: 15%;
  left: 10%;
}
body .swiper-container .swiper-wrapper .me .me-middle ul {
  color: rgb(34, 23, 93);
  margin: 0 auto;
  line-height: 5vw;
}
body .swiper-container .swiper-wrapper .me .me-middle ul:nth-child(1) {
  font-family: "NanumSquare";
  font-weight: 500;
  font-size: 3vw;
}
body .swiper-container .swiper-wrapper .me .me-middle ul:nth-child(2) {
  grid-column: 1/3;
  grid-row: 2/3;
  font-size: 4vw;
}
body .swiper-container .swiper-wrapper .me .me-middle ul:nth-child(2) span {
  font-weight: 700;
}
body .swiper-container .swiper-wrapper .me .me-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 900px;
  height: 900px;
  border-radius: 100%;
  position: absolute;
  bottom: -2vw;
  right: -15vw;
  border: 1px solid #c5c5c5;
  overflow: hidden;
}
body .swiper-container .swiper-wrapper .me .me-c ul {
  text-align: left;
  margin-bottom: 1vw;
  width: 50%;
}
body .swiper-container .swiper-wrapper .me .me-c .me-intro {
  font-family: "Pretendard";
  font-size: 3.4vw;
  font-weight: 400;
  color: #565656;
  opacity: 0.2;
}
body .swiper-container .swiper-wrapper .me .me-c .me-overview {
  text-align: left;
  font-size: 3vw;
  color: #565656;
}
body .swiper-container .swiper-wrapper .me .me-c .me-overview li {
  opacity: 0.2;
}
body .swiper-container .swiper-wrapper .me .me-c .me-overview li:hover {
  color: rgb(34, 23, 93);
  opacity: 1;
}
body .swiper-container .swiper-wrapper .me .motivation {
  position: absolute;
  bottom: 12vw;
  left: 10vw;
  width: 70%;
  height: 12vw;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 0;
  border: none;
}
body .swiper-container .swiper-wrapper .me .motivation .me-over {
  font-size: 0.9vw;
  line-height: 1.5vw;
  width: 40%;
  text-align: justify;
  color: #565656;
}
body .swiper-container .swiper-wrapper .me .motivation .me-over span {
  font-weight: 800;
  display: inline-block;
  margin-bottom: 1vw;
}
body .swiper-container .swiper-wrapper .me .motivation .me-over p {
  font-weight: 800;
  display: inline;
}
body .swiper-container .swiper-wrapper .team {
  position: relative;
  background-color: #fff;
}
body .swiper-container .swiper-wrapper .team .back {
  width: 40%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../img/mockupmain.png) no-repeat center center;
  background-color: #e1e9ff;
  background-size: cover;
}
body .swiper-container .swiper-wrapper .team .grid ul {
  color: #1C2F69;
}
body .swiper-container .swiper-wrapper .team .grid ul:nth-child(2) {
  font-size: 10vw;
  margin-bottom: 0;
}
body .swiper-container .swiper-wrapper .team .grid ul:nth-child(3) a {
  color: transparent;
  -webkit-text-stroke: 2px #1C2F69;
}
body .swiper-container .swiper-wrapper .team .grid ul:nth-child(3) a:hover {
  -webkit-text-stroke: 0;
  color: #1C2F69;
}
body .swiper-container .swiper-wrapper .react {
  position: relative;
  background-color: #fff;
}
body .swiper-container .swiper-wrapper .react .back {
  width: 40%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../img/section1.jpg) no-repeat center center;
  background-size: cover;
}
body .swiper-container .swiper-wrapper .react .grid ul {
  color: #2A3F47;
}
body .swiper-container .swiper-wrapper .react .grid ul:nth-child(3) a {
  color: transparent;
  -webkit-text-stroke: 2px #2A3F47;
}
body .swiper-container .swiper-wrapper .react .grid ul:nth-child(3) a:hover {
  -webkit-text-stroke: 0;
  color: #487384;
}
body .swiper-container .swiper-pagination {
  top: 0;
  left: -5vw;
  width: 5%;
  height: auto;
  position: fixed;
  z-index: 99 !important;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1vw;
}
body .swiper-container .swiper-pagination .spangroup {
  margin: auto 0;
  text-align: center;
}
body .swiper-container .swiper-pagination .swiper-pagination-bullet {
  margin: 3px 0;
  width: 30px;
  height: auto;
  border-radius: 0;
  display: inline-block;
  border-top: 1px solid #101010;
  transition: all 0.3s;
  background: none;
  font-family: "NanumSquare";
}
body .swiper-container .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 50px;
  border-top: 1px solid #101010;
  text-align: left;
  position: relative;
}
body .swiper-container .swiper-pagination .swiper-pagination-bullet p {
  display: inline-block;
  margin: 10px 0;
  color: #101010;
  font-size: 0.85rem;
}