@charset "utf-8";

.ingri1, .ingri2, .ingri3, .ingri4, .ingri5, .r-img, .brandlogo{
    visibility: hidden;
} 

.fadeInUp{visibility: visible;}

.fadeInLeft{visibility: visible;}

.animated {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    visibility: visible;
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    visibility: visible;
}


.delay-05s {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

.delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.delay-15s {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.delay-2s {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

.delay-25s {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}


@keyframes fadeInUp {
    0% {
      opacity: 0;
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
    }

    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }

  @keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate3d(-20%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}


  
